.app-container {
  display: flex;
  width: 100vw;
}

.main-content {
  flex: 1;
}




.main-content {
  margin-left: 250px;     /* same as sidebar width */
  padding: 20px;
}



.outlet-class {
  margin: 20px 20px 20px 20px;
}