.app-container {
  display: flex;
  width: 100vw;
}

.main-content {
  flex: 1;
}


.main-content {
  flex: 1;
  padding: 24px;     /* pushes content away from header/sidebar */
  background-color: #f4f6f8;
}
