/* .sidebar{
  height:100vh;
  width:200px !important;
  position: fixed;
} */


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh;          /* full screen height */
  background-color: #111;
  color: white;
  padding: 20px;
  overflow-y: auto;       /* scroll inside sidebar if needed */
}
.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  margin: 10px 0;
}